.itemCardSection {
    display: flex;
    justify-content: space-between;
}

.cardStyles {
    background-color: #fff9d3;
    min-width: 200px;
}

.cardStyles img {
    max-width: 80px;
}

.cardText {
    padding-bottom: 32px;
    padding-top: 12px;
    padding-left: 32px;
    padding-right: 150px;
}

.cardText h3 {
    font-size: 16px;
}

.cardText p {
    font-size: 12px;
}