.imgIndex {
    z-index: -3;
    position: absolute;
    /* height: 400px; */
}


.image-one {
    background-image: linear-gradient(to right, #111112 2%, rgba(17, 17, 18, 0.5)), url('../../assets/personalization.jpg');
}

.image-two {
    background-image: linear-gradient(to right, #111112 2%, rgba(17, 17, 18, 0.5)), url('../../assets/social-networks.jpg');
}

.imageHighlightStyles {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 40px;
    padding-bottom: 40px;
}

.constraints {
    width: 630px;
    display: flex;
}

.highlightTexts {
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    max-width: 112px;
}

.social-icons div {
    min-height: 32px;
    min-width: 32px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    /* padding: 13px; */
    align-items: center;
    align-self: center;
}