.imgIndex {
    z-index: -3;
    position: absolute;
    height: 400px;
}

.imageHighlightStyles {
    background-color: rgba(56, 56, 56, 0.4);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 40px;
    padding-bottom: 40px;
}

.constraints {
    width: 656px;
    display: flex;
}

.highlightTexts {
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    max-width: 112px;
}

.social-icons div {
    min-height: 32px;
    min-width: 32px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    /* padding: 13px; */
    align-items: center;
    align-self: center;
}