.txt-carousel {
    height: 100%;
}

.index-img {
    z-index: -44 !important;
}

.gradient-adj {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('../../assets/hero.jpg');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
}