.txt-carousel {
    height: 100%;
}

.index-img {
    z-index: -44 !important;
}

.gradient-adj {
    background-image:
    linear-gradient(to right, #111112 0%, rgba(17, 17, 18, 0)),
    url('../../assets/hero.jpg');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
}