
/* top nav styles start */
.navLanguage {
    background-color: rgba(255, 255, 255, 0.08);
    max-width: 160px;
}

.textAlignment {
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    padding-left: 55px;
    padding-right: 55px;
}

.gridStyles {
    background-color: #111112;
    width: 100%;
    height: 32px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.topNavInfo {
    width: auto;
}

.navChatInfo {
    background-color: #27B03F;
    /* max-width: 208px; */
    height: 32px;
}
/* top nav styles end */

/* bottom nav styles start */

.navItemsContainer {
    display: flex;
}

.yellowBox {
    min-width: 160px;
    background-color: #F9DC38;
}

.txtStylesOne {
    font-size: 12px;
}

.navSearchContent {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
}

.inputIcon {
    display: flex;
    align-items: center;
}

.searchBtn {
    background-color: #F9DC38;
    height: 40px;
    display: flex;
    min-width: 120px;
    align-items: center;
    padding-left: 20px;
    justify-content:space-between
}

.searchBtnIcon {
    background-color: #000;
    height: 100%;
    padding: 13px;
}

.navElements {
    padding-left: 40px;
    padding-right: 476px;
    padding-bottom: 40px;
}
/* bottom nav styles end */