@import "../../colors";

.pers_social_net {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 80px;

  .card1 {
    background: url("../../../images/personalization.svg") rgba(10, 10, 10, 0.9) no-repeat top center;
  }

  .card2 {
    background: url("../../../images/personalization.svg") rgba(10, 10, 10, 0.9) no-repeat top center;
  }

  .card1, .card2 {
    height: 400px;
    width: 656px;
    position: relative;

    .details {
      position: absolute;
      bottom: 0;
      padding: 40px;
      color: $white;

      .title {
        font-family: 'Montserrat-Bold';
        font-size: 24px;
        padding-bottom: 24px;
        text-transform: uppercase;
      }

      .text {
        font-family: 'Montserrat-Regular';
        font-size: 16px;

        strong {
          font-family: 'Montserrat-Bold';
        }
      }

      .icons {
        display: flex;
        gap: 8px;
        padding-top: 24px;

        .icon {
          background-color: $white;
        }
      }
    }
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .pers_social_net {
    padding: 0 16px;
    display: block;

    .card1, .card2 {
      width: 100% !important;
      height: 216px !important;
      margin-bottom: 15px;

      .details {
        padding: 20px;

        .title {
          font-size: 13px;
          padding-bottom: 15px;
        }

        .text {
          font-size: 10px;
        }
      }
    }
  }
}